*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgound__section{
    width: 100%;
    

}
ul, li a {
    text-decoration: none;
    list-style: none;
}

.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    width: 100%;
    padding-top: 10px;
}

.menu{
    width: 100%;
}


.menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #093E5B;
}

.menu__list .menu__item:hover{
    color: #F7D000;
}

.header-about{
    width: 100%;
    display: flex;
}
.header-about-l{
    width: 50%;
    height: 300px;
}


.header-about-r{
    width: 50%;
    height: 300px;

}

.menu__mobile{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .menu{
        display: none;
    }
    .menu__mobile{
        display: block;
    }
    


    .nav-bar {
        position: absolute;
        background-color: rgb(130, 144, 204);
        top: 0;
        right: 100%;
        height: 100vh;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: position 2.9s;
        -webkit-transition: position 2.9s;
        -moz-transition: position 2.9s;
        -ms-transition: position 2.9s;
        -o-transition: position 2.9s;
      }
      
      .toggle {
        left: 0;
        box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
      
      }
      
      .toggle-menu {
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
          padding: 2px 2px 2px 3px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      
      .line {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #fff;
        transition: transform 0.2s ease-out;
        -webkit-transition: transform 0.2s ease-out;
        -moz-transition: transform 0.2s ease-out;
        -ms-transition: transform 0.2s ease-out;
        -o-transition: transform 0.2s ease-out;
      }
      
      .toggle .line1 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
      }
      
      .toggle .line2 {
        display: none;
      }
      
      .toggle .line3 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
      }
      
      .toggle .toggle-menu {
        background-color: white;
      }
      
      .nav-list {
        list-style: none;
      }
      
      .nav-list-item {
        text-align: center;
        padding: 10px 0;
      }
      
      .nav-link {
        color: #093E5B;
        font-size: 22px;
        text-decoration: none;
        position: relative;
        padding-bottom: 4px;
      }
      
      .nav-link::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #F7D000;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
        transform-origin: left;
        -webkit-transition: transform 0.4s ease-in-out;
        -moz-transition: transform 0.4s ease-in-out;
        -ms-transition: transform 0.4s ease-in-out;
        -o-transition: transform 0.4s ease-in-out;
      }
      
      .nav-link:hover::before {
        transform: scaleX(1);
      }

}