* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgound__section {
    width: 100%;


}

ul,
li a {
    text-decoration: none;
    list-style: none;
}

button {
    border: none
}

.container {
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-top: 10px;
}

.menu {
    width: 100%;
}


.menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #093E5B;
}

.menu__list .menu__item:hover {
    color: #F7D000;
}

.header-about {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.header-about-l {
    width: 50%;
    height: 300px;
}


.header-about-r {
    width: 50%;
    height: 300px;

}

.menu__mobile {
    display: none;
}

.calculate-box {
    width: 400px;
    height: 450px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: max-content;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 1px solid black; */
    padding: 31px;
    box-shadow: aliceblue;
        box-shadow: -1px 2px 5px #c6c6c6;
    margin-top: -50px;
}


.calculate__btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.one {
    color: white;
    background: #009bbd;
    border-radius: 50px 0px 0px 50px;
    width: 192px;
    height: 50px;
    margin-right: -7px;
    /* Adjust this value as needed */
}

.all {
    color: rgb(0, 0, 0);
    border: solid 1px #009bbd;
    background: #ffffff;
    border-radius: 0px 50px 50px 0px;
    width: 193px;
    height: 50px;
    margin-left: -7px;
    /* Adjust this value as needed */
}

.slidecontainer {
    width: 100%;
    margin: 20px 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background: black;
    /* Цвет полоски */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    /* Ширина ползунка */
    height: 20px;
    /* Высота ползунка */
    background: blue;
    /* Цвет ползунка */
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: blue;
    cursor: pointer;
}

/* Вспомогательный стиль для отображения значения */
#output {
    margin-top: 10px;
    color: blue;
}


/* Убираем стандартный стиль */
input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    margin: 10px 0;
    width: 100%;
}

/* Общие стили для ползунка */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    /* Ширина ползунка */
    height: 10px;
    /* Высота ползунка */
    background-color: #3498db;
    /* Цвет ползунка */
    border-radius: 10%;
    /* Закругление ползунка (чтобы сделать круглый) */
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #34db3f;
    border-radius: 10%;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #55db34;
    border-radius: 50%;
    cursor: pointer;
}

/* Стилизация для Firefox (противотивляется стандартному стилю) */
input[type="range"]::-moz-focus-outer {
    border: 0;
}

.resuktcredit {
    display: flex;
    width: max-content;
    /* margin-right: 5px; */
}

.resuktcredit-title,
.resuktcredit-value {
    font-size: 25px;
    margin-right: 5px;

}





.slidecontainer-box {
    margin-top: 54px;
    width: 94%;
    margin: 0 auto;
    margin-top: 47px;
    text-align: -webkit-right;
}


.info-credit-calculate-for-userinfo-credit-calculate-for-user{
    display: flex;
    width: 100%;
}

.sendformcredit{
    /* width: 100%;
    orientation: landscape; */
    margin-top: 60px;
}

.sendformcreditbtn{
    background: #009bbd;
    border-radius: 50px;
    width: 385px;
    height: 50px;
    color: #f7d000;
    font-size: 25px;
    cursor: pointer;

}


.creditinfoscoupe{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.creditbody, .creditline, .creditpay{
    /* display: flex; */
}

.creditbodytext, .creditlinetext, .creditpaytext{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #009bbd;
    /* font-size: 27px; */
    font-weight: 100;
}
.creditbodyvalue{
    color: #34db3f;
    font-size: 18px;

}

.creditlinevalue{
    color: blue;
    font-size: 18px;
}

.creditpayvalue{
    color: blueviolet;
    font-size: 18px;
}



.section{
    width: 100%;
    height: 100vh;
    background: #093E5B;
    margin-top: 250px;
}

.header-about-ltitle{
    font-family: 'Roboto', sans-serif;
    /* font-size: 20px; */
    color: #009bbd;
}

.header-about-llist{
    
}


.logoheaderabout {
    width: 300px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}